if SHIELD_AHADWIRELES_LEFT

config ZMK_KEYBOARD_NAME
    default "ahadwirelesstest"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_AHADWIRELES_LEFT

if SHIELD_AHADWIRELES_LEFT || SHIELD_AHADWIRELES_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_AHADWIRELES_LEFT || SHIELD_AHADWIRELES_RIGHT
